<header class="header" role="banner">
  <div class="header-banner uk-align-center uk-vertical-align" style="background: url('{{#if @blog.cover}}{{@blog.cover}}{{else}}{{@blog.url}}/images/cover_default.jpg{{/if}}') 50% 50% no-repeat;">
    <div class="uk-vertical-align-middle">
      <div class="tm-logo">
        <a href="{{@blog.url}}"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}{{@blog.url}}/images/logo_uikit.png{{/if}}" alt="{{@blog.title}}"></a>
      </div>
      <h1 class="uk-heading-large tm-text-white">{{@blog.title}}</h1>
      <p class="tm-text-white tm-text-italic" style="font-size: 20px;">{{@blog.description}}</p>
    </div>
  </div>
</header> <!-- end header -->
